.category {
    background-color: rgb(253, 241, 241); /* Màu nền cho toàn bộ phần danh mục */
    width:100%;
    height:100vh;
}
.category-item {
    width: 100%;
    height: 85vh; /* Điều chỉnh chiều cao theo mong muốn */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 138, 184);
}

.category-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: transform 0.4s ease-in-out; /* Giảm thời gian để mượt hơn */
}
.category-text:hover {
    display: block;
    text-decoration: none;
    transform: scale(1.2); /* Phóng to chữ lên 1.3 lần */
}
