<div class="about" id="about" th:fragment="about">
    <div class="container-fluid" style="padding: 0 60px;">
        <div class="row" style="padding-top:40px">
            <div class="col-5 adeline-image"></div>
            <div class="col-1"></div>
            <div class="col-6 adeline-text">
                <h2 class="text-left">ADELINE</h2>
                <h2 class="text-left">COSMETICS</h2>
                <p >Welcome to our world! Here, we take pride in sharing the heart and soul of our business. 
                    From the passionate individuals who bring ideas to life to the unique products and services we offer, this is where you’ll discover what makes us truly special. 
                    Dive into our story, explore our journey, and learn about the values that drive us every day. 
                <p>Whether it’s our commitment to quality, our innovative approach, or the personal touch we add to everything we do, we invite you to experience the essence of who we are and what we stand for. 
                    Let our story inspire you, and let our offerings speak to your needs</p>
                <div class="learnMore-button">Learn More</div>
            </div>
        </div>
    </div>

</div>