<div class="banner" th:fragment="banner">
    <div class="information">
        <div class="welcome-text">Welcome to</div>
        <div class="brand-name">Adeline</div>
        <div class="description">
            Indulge in luxurious beauty products that enhance your natural charm. Explore our exquisite collection for a radiant you.
        </div>
        <div class="explore-button">Explore Now</div>
    </div>
    <div class="hover-underline" id="scroll"><img src="assets/images/arrow.png" alt=""></div>
</div>