<div class="category" th:fragment="category">
    <div class="container-fluid" style="padding: 0 50px;">
        <h2 class="text-center" style="padding-top:20px; margin-bottom: 20px; font-weight: bold; font-size: 40px; letter-spacing: 6px;">COLLECTIONS</h2>
        <div class="row"> 
            <div class="col-md-4">
                <div class="category-item" style="background-image: url('link-hinh-1.jpg');">
                    <a th:href="@{#}"><span class="category-text">LIPS</span></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-item" style="background-image: url('link-hinh-2.jpg');">
                    <a th:href="@{#}"><span class="category-text">LASHES</span></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-item" style="background-image: url('link-hinh-3.jpg');">
                    <a th:href="@{#}"><span class="category-text">CHEEKS</span></a>
                </div>
            </div>
    </div>
        </div>
    </div>
