<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container position-relative">
      <!-- Nút mở menu trên mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menu bên trái -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto center-logo d-flex gap-5">
          <li class="nav-item ">
            <a class="nav-link" th:classappend="${activePage == 'home'} ? 'active'" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${activePage == 'about'} ? 'active'" th:href="@{/about}">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${activePage == 'products'} ? 'active'" th:href="@{/products}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${activePage == 'contact'} ? 'active'" th:href="@{/contact}">Contact</a>
          </li>
        </ul>

        <!-- Logo ở giữa -->
         <div class="brand-name"><a class="navbar-brand brand-name " href="#">Adeline</a></div>
        
        <!-- Biểu tượng tài khoản + giỏ hàng bên phải -->
        <div class="d-flex ms-auto gap-3">
          <a class="nav-link d-flex align-items-center gap-2" href="#"><i class="bi bi-person-circle"></i>Sign in</a>
          <a class="nav-link" href="#"><i class="bi bi-bag"></i> <span th:text="${cartSize}">0</span></a>
        </div>
      </div>
  </nav>

</header>
